h1{
    color:rgb(226, 224, 224);
    text-align: center;
    margin-top: 40px;
    font-size: 30px;
    line-height: 30px;
    font-weight: 400;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing:-0.02em;

}

.banner {
    /* text-align: center; */

    height:50vh;
    /* position:relative; */
    /* background: url("C:\Users\kifle\Desktop\Coding\Projects\airbnb-react-app\src\Images\1.jpg") center center; */
    /* background-repeat: no-repeat; */
    




    /* background-color: black; */
}
#test{
    min-height:100%;
    min-width:100%;
    height:auto;
    width:auto;
    position:absolute;
    top:-100%; bottom:-100%;
    left:-100%; right:-100%;
    margin:auto;
}


.banner_info{
    /* background-color:white; */
    color:white;
    padding-top:25vh;
    padding-bottom:40px;
    padding-left:50px;
    padding-right:50px;
    width:300px;
    margin-left:50px;
}
.banner_info > button{
    background-color:white;
    /* border-radius: 8; */
    color:black;
    text-transform: inherit;
    margin-top:20px;
    font-weight:600;

}