h1{
    color:rgb(226, 224, 224);
    text-align: center;
    margin-top: 40px;
    font-size: 30px;
    line-height: 30px;
    font-weight: 400;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing:-0.02em;

}

.banner{
    /* height:5vh;
    position:relative;
    width: 95vw;
    margin: auto; */
    background-color: black;
}
.banner > img{
    width: 95%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto 



}