h1{
    color:rgb(226, 224, 224);
    text-align: center;
    margin-top: 40px;
    font-size: 30px;
    line-height: 30px;
    font-weight: 400;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing:-0.02em;

}

.banner{
    height:50vh;
    position:relative;
    background: url("https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/6c9a9a99-9c38-417e-a7f5-a45ede9b3407-1532627926.jpg?crop=1.00xw:0.753xh;0,0.227xh&resize=480:*") center center;



    /* background-color: black; */
}
/* .banner > img{
    width: 95%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto 
} */

.banner_info{
    background-color:white;
    color:white;
    padding-top:25vh;
    padding-bottom:40px;
    padding-left:50px;
    padding-right:50px;
    width:300px;
    margin-left:50px;
}
.banner_info > button{
    background-color:#ff7779;
    color:white;
    text-transform: inherit;
    margin-top:20px;
    font-weight:600;

}