.card{
    margin:0px 10px 10px 10px;
    /* border-radius: 10px; */
    overflow: hidden;
    /* box-shadow: 0px 6px 18px -9px rgba(0,0,0,0.75); */
    transition: transform 100ms ease-in;
    cursor: pointer;
    /* max-width: 100%; */

    
}

.card:hover{
    transform:scale(1.07);
}
.card > img{
    object-fit: fill;
    min-width: 300px;
    min-height: 200px;
    width: 100%;
    border-radius: 10px;
}

.card_info > h4{
    font-size: 18px;
    line-height: 22px ;
    max-height: 44px ;
    overflow: hidden ;
    text-overflow: ellipsis ;
    display: -webkit-box ;
    -webkit-line-clamp: 2 ;
    -webkit-box-orient: vertical ;
    color: rgb(34, 34, 34) ;
    font-weight: lighter;
    white-space: pre-line ;
}

