 .covidResponse{
    font-weight: 600;
    font-family: inherit;
    text-align: center;
    margin-top: 5px;

}

.covidResponse > a{
    color: black;
    font-size:14px;
    }
    
a:hover {
    color: #eeececcc;
    }
    

a:visited{
    color:black;
}
