 .covidResponse{
    font-weight: 600;
    font-family: inherit;
    text-align: center;
    margin-top: 10px;
}

.covidResponse > a{
    color: grey;
    font-size:16px;
    font-weight: bold;
    text-decoration: none;
}
    
a:hover {
    text-decoration: underline;
}
    

a:visited{
    color:grey;
}
