.covidResponse{
    background-color:#222222;
    font-weight: 600;
    font-family: inherit;
    text-align: center;
}
.covidResponse > a{
    color: rgb(173, 172, 172);
    line-height: 60px;
    font-size:14px;
    }
a:hover {
    color: #A3A3A3CC;
    }
   