.header{
    /* puts it into a row */
    display:flex;
    /* gives space between each div */
    justify-content: space-between;
    align-items: center;
    /* position: sticky, and top:0, z-index:100, allows the header to stay at the top as we scroll up and down the page*/
    position: sticky;
    top:0;
    z-index: 100;
    background-color: black;
    max-width: 100%;
}

.header_logo{
    /* object-fit, keeps aspect ratio  */
    object-fit: contain;
    height:100px;
    margin-left:50px;
    margin-top:10px;
}

.header_center{
display: flex;
/* this will allow the input field to take up the majority of the room */
flex:1;
align-items: center;
max-width: fit-content;
padding:10px;
height: 30px;
border-radius: 999px;
border:1px solid lightgray;
background-color: white;
}
.header_center > input {
    border:none;
    width: 250px;
    padding: 10px;
    /* removes the line for the input box */
    outline-width:0;
    
    }

.header_right{
    /* display:flex, puts everything within the div into the same row  */
    display: flex;
    /* align items:center puts everything on the same row with other components*/
    align-items: center;
    justify-content: space-between;
    color:white;
    width: 15vw;
    margin-right: 80px;

}


.becomeAHost > p{
    padding: 11px;
    /* text-decoration:none !important; */
}

.becomeAHost:hover{
    background-color: #222222;
    border-radius: 22px;
    text-decoration:none;
}



.MuiAvatar-root{
    /* margin-right:75px; */
}