.home_section{
  display: flex;
  padding:30px;

    
}

.home > h1{
  margin-top:400px;
  margin-left:40px;

  white-space: pre-line !important;
  /* width: 100% !important; */
  /* font-size: var(--tl-font-size, 32px) !important; */
  /* font-weight: var(--tl-font-weight, 800) !important; */
  letter-spacing: var(--tl-letter-spacing, 0em) !important;
  /* line-height: var(--tl-line-height, 36px) !important; */
  color: var(--tl-color, #222222) !important;
  -webkit-line-clamp: var(--tl-line-clamp) !important;
 font-size:32px; --tl-font-weight:700; --tl-line-height:36px;
}