.home_section{
  display: flex;

  padding:30px 40px 30px 40px;

    
}

.home > h1{
  margin-top:480px;
  margin-left:50px;

  white-space: pre-line !important;
  /* width: 100% !important; */
  /* font-size: var(--tl-font-size, 32px) !important; */
  /* font-weight: var(--tl-font-weight, 800) !important; */
  letter-spacing: var(--tl-letter-spacing, 0em) !important;
  /* line-height: var(--tl-line-height, 36px) !important; */
  color: var(--tl-color, #222222) !important;
  -webkit-line-clamp: var(--tl-line-clamp) !important;
 font-size:32px; --tl-font-weight:700; --tl-line-height:36px;
}
.your_world{
position:absolute;
 padding:50px; 
 color:white; 
 z-index:999; 
 margin:70px 0px 0px 100px;
 font-size:20px;

}
.your_world>button{
  border-radius:10px; 
  margin-top:20px;
  font-size:16px ;

   /* line-height: 20px; */
    letter-spacing: normal ;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
    color: black;
    padding: 12px 22px;
    cursor: pointer;
}

.discover {
  /* margin-top:480px; */
  margin-left:50px;

  white-space: pre-line !important;
  /* width: 100% !important; */
  /* font-size: var(--tl-font-size, 32px) !important; */
  /* font-weight: var(--tl-font-weight, 800) !important; */
  letter-spacing: var(--tl-letter-spacing, 0em) !important;
  /* line-height: var(--tl-line-height, 36px) !important; */
  color: var(--tl-color, #222222) !important;
  -webkit-line-clamp: var(--tl-line-clamp) !important;
 font-size:32px; --tl-font-weight:700; --tl-line-height:36px;
}

.unique{
  margin-left:50px;
  color: #222222;
  font-size: 26px;
  font-weight: 400;
  line-height: 36px;

}
