.search_date{
    position:absolute;
    display: flex;
    top:150px;
    justify-content: center;
    width: 100vw;

}
.DateRangePicker{

}



.guest {
    background-color: white;

}