.search_info{
    padding:20px;
    margin-left: 20px;
    
}

.search_info > p{
    margin-bottom:10px;
    font-size: 14px;
}

.search_info > h1{
    margin-bottom:20px;
}

.search_info > button{
    border-radius: 30px;
    text-transform:inherit;
    margin:5px;
}

.reviewCovid{
    margin-top:10px;
    border-bottom: 1px solid lightgray;
    line-height: 3em;
}